.classpath
.project
.settings
.DS_Store
dev.env

modules/

eclipse/
tmp/

*.iml
*.ipr
*.iws
*.ids
*.idea

out
target/
logs
test-result

bin/
data/
dist/
logs/
test-result/
precompiled/

lib/
tmp/
/javadoc

pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties

